<!DOCTYPE html>
<html>
  <head>
    <title>Triangles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://meet.jit.si/external_api.js"></script>
  </head>

  <body class="p-3 min-vh-100 d-flex flex-column">
    <%= yield %>
    <%= render 'footer' %>

    <%= report_hit_javascript_tag %>
  </body>
</html>
