<!DOCTYPE html>
<html>
  <head>
    <title>Three-player Noughts and Crosses - Triangles</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Three-player Noughts and Crosses (Tic Tac Toe) on a 4x4 grid. Play online with up to 3 players.">
    <meta name="keywords" content="3 player,three player,Noughts and Crosses,Tic Tac Toe,online,multiplayer,with friends">

    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://meet.jit.si/external_api.js"></script>
  </head>

  <body class="p-3 min-vh-100 d-flex flex-column">
    <%= yield %>
    <%= render 'footer' %>

    <%= report_hit_javascript_tag %>
  </body>
</html>
